---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>PNUD Migración</title>

{% endblock %}

{% block content %}
        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element" style="background-image:url('elementos/elementospnud/ELEMENTOS/PNUD-03.png');background-size:cover">
			<div class="container">
				<div class="row h-100 justify-content-center">
					<div class="col-lg-6 d-flex align-self-center flex-column pt-5 pb-3 py-lg-6 mb-0 my-lg-4 text-center">
						<h2 class="display-4 text-white" style="font-weight: 800">¡Bienvenido/a a la Plataforma de Datos de Movilidad Humana!</h2>
						<br>
						<p class="text-white">En esta plataforma, encontrarás información y recursos relevantes sobre el fenómeno de la movilidad humana en el Norte de Centroamérica.
							<br><!--strong style="font-size:25px">Lorem Ipsum</strong-->
						</p>
						<br>
						<div>
							{% for estadistica in collections.estadisticas | limit(1)%}
							<a href="{{estadistica.url}}"  class="button button-large border border-width-2 bg-alt2 py-2 rounded-1 fw-medium nott ls0 ms-0 ms-sm-1 h-op-09"><i class="icon-line-file-add"></i>Estadísticas</a>
							{% endfor %}
							<a href="/novedades/index.html" class="button button-large button-border rounded-1 fw-medium nott bg-alt4 ls0 ms-0"><i class="icon-line-align-left"></i>Novedades</a>
						</div>
					</div>

				</div>
			</div>
			<!--div class="bg-alt py-5">
				<div class="container">
					<div class="d-flex">
						<h4 class="mb-0"><span class="counter counter-inherit fw-normal text-white"><i class="icon-line-users icon-fw"></i> <span class="color fw-semibold" data-from="100" data-to="12462" data-refresh-interval="150" data-speed="2000"></span> Members Registered.</span></h4>
						<h4 class="mb-0 ms-5"><span class="counter counter-inherit fw-normal text-white"><i class="icon-line-message-circle icon-fw"></i> <span class="color fw-semibold" data-from="100" data-to="340333" data-refresh-interval="100" data-speed="2000"></span> Posts Created.</span></h4>
					</div>
				</div>
			</div-->
		</section>

		<!-- Content
		============================================= -->
		<section id="content px-4">
			<div class="content-wrap">

		<!-- Nosotros
		============================================= -->

				<div class="container clearfix pt-100 my-6">
					<div class="heading-block center">
						<h1 style="font-size:40px;color:#19486a!important">Datos de Movilidad Humana en Guatemala</h1>
					</div>

					<div class="row my-4 align-items-center">
						{% for estadistica in collections.estadisticas | limit(1)%}
						<div class="col-lg-6 text-center">
							
							<h1 style="font-size:65px;color:#19486a!important;font-weight:800">{{estadistica.data.numeroregistrado}}</h1>
							<h2 style="font-size:20px;color:#19486a!important;font-weight:600">personas</h2>
							
							<h5 style="font-size:18px">(Fuente: {{estadistica.data.fuente}})</h5>
							<br>
							<a href="{{estadistica.url}}" class="btn">Ver todas las estadísticas</a>
							
						</div>
						<div class="col-lg-6">
							<img src="/elementos/PNUD 2-25.png">
						</div>
						{% endfor %}
					</div>
					

				</div>


		<!-- Eventos y Videos
		============================================= -->

				<div class="container my-4">
					<div class="row text-center mb-5" style="justify-content:space-between;align-items:flex-start">
						<!--div class="col-lg-6">
							<h3 class="display-4 fw-bolder mb-3">Publicaciones</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.</p>
						</div-->

						<div class="row posts-md col-mb-30 col-xl-9">
								

							<h2 class="font-bold text-4xl border-b-2 border-blue-500 mb-4 pb-4" style="text-align:left;margin:1rem 0">Blogs</h2>

							{% for blog in collections.novedades | reverse | limit(5) %}
					
				
							<a href="{{blog.url}}" class="flex border-b-2 pb-4 mb-4 text-current responsive">
							<img src="{{ blog.data.image }}" alt="Evento" class="w-36">
							<div class="pl-8 my-auto" style="text-align:left">
								<h5 class="font-bold text-lg">
								{{blog.data.title }}
								</h5>
								<span class="text-sm">
								{{blog.data.date | dateFormat('DD/MM/YYYY')}}
								</span><br>
								<span class="text-sm">
								{{blog.data.description}}
								</span>
							</div>
							</a>

							{% endfor %}

							<div class="mb-6" style="display:flex; justify-content:flex-end">
								<a href="/novedades/index.html">Más Blogs<i class="icon-arrow-right" style="margin-left:5px"></i></a>
							</div>		
				
						</div>

						<div class="row posts-md col-mb-30 col-xl-3">
							<h3 class="uppercase font-bold text-base tracking-wider my-auto mb-4 pb-4"style="text-align:left;margin:1rem 0">Videos</h3>

							{% for video in collections.videos | reverse | limit(4)%}
							<div class="entry ">
								<div class="grid-inner">
									<iframe width="560" height="315" src="{{video.data.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									<p class="txt-video">{{video.data.description}}</p>
								</div>
								
							</div>
							{% endfor %}

							<div class="mb-6">
								<div style="display:flex; justify-content:flex-end">
								<a href="/videos/index.html">Más Videos<i class="icon-arrow-right" style="margin-left:5px"></i></a>
							</div>	
						</div>	
						

					</div>	
				</div>
			</div>

			<div class="brand-02-area pt-100 pb-100" style="background: #E5E6ED">
                <div class="container">

                        <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
							<div class="heading-block center">
								<h2 style="color:#19486a"> Iniciativas y Alianzas </h2>
							</div>
                                
                        </div>

                    <div class="row justify-content-center ">
						<div class="col-lg-8">
							<div class="row justify-content-center">

								<div class="col-xl-2">
									<div class="brand-img text-center" > 
										<img alt="Cambiar imagen"  src="/elementos/elementospnud/PNUD-Logo/PNUD-Logo-Blue-Medium.png" />
									</div>
								</div>

								<div class="col-xl-2">
									<div class="brand-img text-center" > 
										<img alt="Cambiar imagen"  src="/elementos/elementospnud/PNUD-Logo/PNUD-Logo-Blue-Medium.png" />
									</div>
								</div>

								<div class="col-xl-2">
									<div class="brand-img text-center" > 
										<img alt="Cambiar imagen"  src="/elementos/elementospnud/PNUD-Logo/PNUD-Logo-Blue-Medium.png" />
									</div>
								</div>

								<div class="col-xl-2">
									<div class="brand-img text-center" > 
										<img alt="Cambiar imagen"  src="/elementos/elementospnud/PNUD-Logo/PNUD-Logo-Blue-Medium.png" />
									</div>
								</div>

								<div class="col-xl-2">
									<div class="brand-img text-center" > 
										<img alt="Cambiar imagen"  src="/elementos/elementospnud/PNUD-Logo/PNUD-Logo-Blue-Medium.png" />
									</div>
								</div>

							</div>	
						</div>
                    </div>
                </div>
            </div>
            <!-- brand-area-end -->

		

		<!-- Explicativos
		============================================= -->

			<!--div class="section py-6 my-6" style="background-color: #e8f0f9">
				<div class="content-wrap">
					<div class="container clearfix" >
						<h1 style="font-size:30px; font-weight:700; margin-bottom:30px">Explicativos</h1>

						<div class="row ">
							{% for explicativo in collections.explicativos | reverse %}
							<div class="col-md-4 col-lg-4 col-sm-12 " style="margin:10px 0!important">
								<a class="link_explicativo" href="{{explicativo.url}}" ><div class="cuadro_explicativo">
									<img width="12%" style="margin-right:25px" src="{{explicativo.data.icono_explicativo}}">
									<h2>{{explicativo.data.title}}</h2>
								</div></a>
							</div>
							{% endfor %}
							
						</div>
					</div>
				</div>
			</div-->

			<!-- TikToks
			============================================= >
			
			<div class="container my-4">
				<div class="row mb-5">
					<h2 class="font-bold text-4xl border-b-2 border-blue-500 mb-4 pb-4" style="text-align:left;margin:1rem 0">Tik Toks</h2>
					{% for tiktok in collections.tiktoksHighlighted | limit(3)%}
					<div class="col-lg-4 col-sm-12 col-md-6 p-0">
						{{tiktok.data.enlace | safe}}
					</div>
					{% endfor %}
				</div>
			</div-->


		</section><!-- #content end -->
{% endblock %}

{% block body_javascripts %}
	
{% endblock %}