{% extends "src/base.njk" %}

{% block head %}
<title>{{ title }}</title>
<link rel="stylesheet" href="/css/maingrid.css" type="text/css" />
{% endblock %}

{% block content %}
    
    <!-- Content
		============================================= -->
		<section id="content px-4">
			<div class="content-wrap">

				<div class="container clearfix my-6">
					<div class="row heading-block center">
						<h2>{{title}} </h2>
					</div>
        </div>

        <div class="container clearfix my-6">
					<div class="row">
						
            <div class="col-lg-4">
              <div>
                <canvas id="sexo"></canvas>
              </div>   
            </div>

            <div class="col-lg-4">
              <div>
                <canvas id="edad"></canvas>
              </div>   
            </div>

            <div class="col-lg-4">
              <div>
                <canvas id="nacionalidad"></canvas>
              </div>   
            </div>

            <div class="col-lg-6">
              <div>
                <canvas id="paisorigen"></canvas>
              </div>   
            </div>

            <div class="col-lg-6">
              <div>
                <canvas id="paisdestino"></canvas>
              </div>   
            </div>

					</div>
        </div>

      </div>
    </section>


    <div id="sexofem" style="display:none">{{sexo[0].fem}}</div>
    <div id="sexomasc" style="display:none">{{sexo[0].masc}}</div>
    <div id="sexonobi" style="display:none">{{sexo[0].nobi}}</div>
    <div id="sexonsnr" style="display:none">{{sexo[0].nsnr}}</div>

{% endblock %}

{% block body_javascripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    // JavaScript para grafica de sexo


    var sexofem = parseInt(document.getElementById('sexofem').innerText);
    var sexomasc = parseInt(document.getElementById('sexomasc').innerText);
    var sexonobi = parseInt(document.getElementById('sexonobi').innerText);
    var sexonsnr = parseInt(document.getElementById('sexonsnr').innerText);

    var datos = {
      labels: ['Masculino', 'Femenino', 'No Binario', 'NS/NR'],
      datasets: [{
        data: [sexomasc, sexofem, sexonobi, sexonsnr],
        backgroundColor: ['#84B8DC', '#2A8BCF', '#0569B0', '#034675'],
      }]
    };

    var opciones = {
      scales: {
        xAxes: [{
            gridLines: {
              display: false
            }
        }],
        yAxes: [{
            gridLines: {
              display: false
            }
        }]
      },
      plugins: {
        legend: {
          display: true,
          position: 'right'
        },
        title: {
          display: true,
          text: 'Porcentaje de individuos según el Sexo',
          color: '#46495F',
          font: {
            size: 20
          }
        },
      }
    };

    var ctx = document.getElementById('sexo').getContext('2d');
    var miGrafica = new Chart(ctx, {
      type: 'doughnut',
      data: datos,
      options: opciones
    });
  </script>

{% endblock %}