{% extends "src/base.njk" %}

{% block head %}
<title>{{ title }}</title>
<link rel="stylesheet" href="/css/maingrid.css" type="text/css" />
{% endblock %}

{% block content %}
    
    <!-- estadisticas
		============================================= -->
		<section id="content px-4">
			<div class="content-wrap">

				<div class="container clearfix my-6">
					<div class="row heading-block center">
						<h2>{{title}} </h2>
					</div>
        </div>

        <div class="container clearfix my-6">
					<div class="row">
						
            <div class="col-lg-4">
              <div>
                <canvas id="sexo"></canvas>
              </div>   
            </div>

            <div class="col-lg-4">
              <div>
                <canvas id="edad"></canvas>
              </div>   
            </div>

            <div class="col-lg-4">
              <div>
                <canvas id="nacionalidad"></canvas>
              </div>   
            </div>

            <div class="col-lg-6">
              <div>
                <canvas id="paisorigen"></canvas>
              </div>   
            </div>

            <div class="col-lg-6">
              <div>
                <canvas id="paisdestino"></canvas>
              </div>   
            </div>

					</div>
        </div>

      </div>
    </section>


    <div id="sexofem" style="display:none">{{sexo[0].fem}}</div>
    <div id="sexomasc" style="display:none">{{sexo[0].masc}}</div>
    <div id="sexonobi" style="display:none">{{sexo[0].nobi}}</div>
    <div id="sexonsnr" style="display:none">{{sexo[0].nsnr}}</div>

    <div id="edad85mas" style="display:none">{{edad[0].85mas}}</div>
    <div id="edad11a17" style="display:none">{{edad[0].11a17}}</div>
    <div id="edadnsnr" style="display:none">{{edad[0].nsnr}}</div>
    <div id="edad0a10" style="display:none">{{edad[0].0a10}}</div>
    <div id="edad18a24" style="display:none">{{edad[0].18a24}}</div>
    <div id="edad55a64" style="display:none">{{edad[0].55a64}}</div>
    <div id="edad45a54" style="display:none">{{edad[0].45a54}}</div>
    <div id="edad35a44" style="display:none">{{edad[0].35a44}}</div>
    <div id="edad25a34" style="display:none">{{edad[0].25a34}}</div>
    <div id="edad75a84" style="display:none">{{edad[0].75a84}}</div>
    <div id="edad65a74" style="display:none">{{edad[0].65a74}}</div>

    <div id="naccol" style="display:none">{{nacionalidad[0].col}}</div>
    <div id="nacrepdom" style="display:none">{{nacionalidad[0].repdom}}</div>
    <div id="nachon" style="display:none">{{nacionalidad[0].hon}}</div>
    <div id="nacnsnr" style="display:none">{{nacionalidad[0].nsnr}}</div>
    <div id="nachai" style="display:none">{{nacionalidad[0].hai}}</div>
    <div id="nacotros" style="display:none">{{nacionalidad[0].otros}}</div>
    <div id="nacgua" style="display:none">{{nacionalidad[0].gua}}</div>
    <div id="nacecu" style="display:none">{{nacionalidad[0].ecu}}</div>
    <div id="nacsal" style="display:none">{{nacionalidad[0].sal}}</div>
    <div id="nacven" style="display:none">{{nacionalidad[0].ven}}</div>

    <div id="origencol" style="display:none">{{paisorigen[0].col}}</div>
    <div id="origenrepdom" style="display:none">{{paisorigen[0].repdom}}</div>
    <div id="origenhon" style="display:none">{{paisorigen[0].hon}}</div>
    <div id="origennsnr" style="display:none">{{paisorigen[0].nsnr}}</div>
    <div id="origenhai" style="display:none">{{paisorigen[0].hai}}</div>
    <div id="origenotros" style="display:none">{{paisorigen[0].otros}}</div>
    <div id="origengua" style="display:none">{{paisorigen[0].gua}}</div>
    <div id="origenecu" style="display:none">{{paisorigen[0].ecu}}</div>
    <div id="origensal" style="display:none">{{paisorigen[0].sal}}</div>
    <div id="origenven" style="display:none">{{paisorigen[0].ven}}</div>

    <div id="destinousa" style="display:none">{{paisdestino[0].usa}}</div>
    <div id="destinomex" style="display:none">{{paisdestino[0].mex}}</div>
    <div id="destinocan" style="display:none">{{paisdestino[0].can}}</div>
    <div id="destinonsnr" style="display:none">{{paisdestino[0].nsnr}}</div>
    <div id="destinootros" style="display:none">{{paisdestino[0].otros}}</div>

{% endblock %}

{% block body_javascripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    // JavaScript para grafica de sexo


    var sexofem = parseInt(document.getElementById('sexofem').innerText);
    var sexomasc = parseInt(document.getElementById('sexomasc').innerText);
    var sexonobi = parseInt(document.getElementById('sexonobi').innerText);
    var sexonsnr = parseInt(document.getElementById('sexonsnr').innerText);

    var datos = {
      labels: ['Masculino', 'Femenino', 'No Binario', 'NS/NR'],
      datasets: [{
        data: [sexomasc, sexofem, sexonobi, sexonsnr],
        backgroundColor: ['#84B8DC', '#2A8BCF', '#0569B0', '#034675'],
      }]
    };

    var opciones = {
      scales: {
        xAxes: [{
            gridLines: {
              display: false
            }
        }],
        yAxes: [{
            gridLines: {
              display: false
            }
        }]
      },
      plugins: {
        legend: {
          display: true,
          position: 'right'
        },
        title: {
          display: true,
          text: 'Porcentaje de individuos según el Sexo',
          color: '#46495F',
          font: {
            size: 20
          }
        },
        tooltip: {
          callbacks: {
            label: function (context) {
              var value = context.raw;
              return ' ' + value + ' %';
            }
          }
        },
      },
    };

    var ctx = document.getElementById('sexo').getContext('2d');
    var miGrafica = new Chart(ctx, {
      type: 'doughnut',
      data: datos,
      options: opciones
    });
  </script>

  <script>
    // JavaScript para grafica de edad

    var edad85mas = parseInt(document.getElementById('edad85mas').innerText);
    var edad11a17 = parseInt(document.getElementById('edad11a17').innerText);
    var edadnsnr = parseInt(document.getElementById('edadnsnr').innerText);
    var edad0a10 = parseInt(document.getElementById('edad0a10').innerText);
    var edad18a24 = parseInt(document.getElementById('edad18a24').innerText);
    var edad55a64 = parseInt(document.getElementById('edad55a64').innerText);
    var edad45a54 = parseInt(document.getElementById('edad45a54').innerText);
    var edad35a44 = parseInt(document.getElementById('edad35a44').innerText);
    var edad25a34 = parseInt(document.getElementById('edad25a34').innerText);
    var edad75a84 = parseInt(document.getElementById('edad75a84').innerText);
    var edad65a74 = parseInt(document.getElementById('edad65a74').innerText);

    var datos = {
      labels: ['0-10 niñez', '11-17 adolescencia', '18-24 jóvenes adultos', '25-34 adultos', '35-44', '45-54', '55-64', '65-74 adultos mayores', '75-84', '85+', 'NS/NR'],
      datasets: [{
        data: [edad0a10, edad11a17, edad18a24, edad25a34, edad35a44, edad45a54, edad55a64, edad65a74, edad75a84, edad85mas, edadnsnr],
        backgroundColor: ['#84B8DC', '#2A8BCF', '#0569B0', '#034675', '#023F6A'],
      }]
    };

    var opciones = {
      scales: {
        xAxes: [{
            gridLines: {
              display: false
            }
        }],
        yAxes: [{
            gridLines: {
              display: false
            }
        }]
      },
      plugins: {
        legend: {
          display: true,
          position: 'right'
        },
        title: {
          display: true,
          text: 'Edad',
          color: '#46495F',
          font: {
            size: 20
          }
        },
        tooltip: {
          callbacks: {
            label: function (context) {
              var value = context.raw;
              return ' ' + value + ' %';
            }
          }
        },
      }
    };

    var ctx = document.getElementById('edad').getContext('2d');
    var miGrafica = new Chart(ctx, {
      type: 'doughnut',
      data: datos,
      options: opciones
    });
  </script>

  <script>
    // JavaScript para grafica de nacionaldiad

    var naccol = parseInt(document.getElementById('naccol').innerText);
    var nacrepdom = parseInt(document.getElementById('nacrepdom').innerText);
    var nachon = parseInt(document.getElementById('nachon').innerText);
    var nacnsnr = parseInt(document.getElementById('nacnsnr').innerText);
    var nachai = parseInt(document.getElementById('nachai').innerText);
    var nacotros = parseInt(document.getElementById('nacotros').innerText);
    var nacgua = parseInt(document.getElementById('nacgua').innerText);
    var nacecu = parseInt(document.getElementById('nacecu').innerText);
    var nacsal = parseInt(document.getElementById('nacsal').innerText);
    var nacven = parseInt(document.getElementById('nacven').innerText);

    var datos = {
      labels: ['Colombia', 'República Dominicana', 'Honduras', 'Haití', 'Guatemala', 'Ecuador', 'El Salvador', 'Venezuela', 'Otros', 'NS/NR'],
      datasets: [{
        data: [naccol, nacrepdom, nachon, nachai, nacgua, nacecu, nacsal, nacven, nacotros, nacnsnr],
        backgroundColor: ['#84B8DC', '#2A8BCF', '#0569B0', '#034675', '#023F6A'],
      }]
    };

    var opciones = {
      scales: {
        xAxes: [{
            gridLines: {
              display: false
            }
        }],
        yAxes: [{
            gridLines: {
              display: false
            }
        }]
      },
      plugins: {
        legend: {
          display: true,
          position: 'right'
        },
        title: {
          display: true,
          text: 'Nacionalidad',
          color: '#46495F',
          font: {
            size: 20
          }
        },
        tooltip: {
          callbacks: {
            label: function (context) {
              var value = context.raw;
              return ' ' + value + ' %';
            }
          }
        },
      }
    };

    var ctx = document.getElementById('nacionalidad').getContext('2d');
    var miGrafica = new Chart(ctx, {
      type: 'doughnut',
      data: datos,
      options: opciones
    });
  </script>

  <script>
    // JavaScript para grafica de pais de origen

    var origencol = parseInt(document.getElementById('origencol').innerText);
    var origenrepdom = parseInt(document.getElementById('origenrepdom').innerText);
    var origenhon = parseInt(document.getElementById('origenhon').innerText);
    var origennsnr = parseInt(document.getElementById('origennsnr').innerText);
    var origenhai = parseInt(document.getElementById('origenhai').innerText);
    var origenotros = parseInt(document.getElementById('origenotros').innerText);
    var origengua = parseInt(document.getElementById('origengua').innerText);
    var origenecu = parseInt(document.getElementById('origenecu').innerText);
    var origensal = parseInt(document.getElementById('origensal').innerText);
    var origenven = parseInt(document.getElementById('origenven').innerText);

    var datos = {
      labels: ['Colombia', 'República Dominicana', 'Honduras', 'Haití', 'Guatemala', 'Ecuador', 'El Salvador', 'Venezuela', 'Otros', 'NS/NR'],
      datasets: [{
        data: [origencol, origenrepdom, origenhon, origenhai, origengua, origenecu, origensal, origenven, origenotros, origennsnr],
        backgroundColor: ['#84B8DC', '#2A8BCF', '#0569B0', '#034675', '#023F6A'],
      }]
    };

    var opciones = {
      scales: {
        xAxes: [{
            gridLines: {
              display: false
            }
        }],
        yAxes: [{
            gridLines: {
              display: false
            }
        }]
      },
      plugins: {
        legend: {
          display: true,
          position: 'right'
        },
        title: {
          display: true,
          text: 'País de origen',
          color: '#46495F',
          font: {
            size: 20
          }
        },
        tooltip: {
          callbacks: {
            label: function (context) {
              var value = context.raw;
              return ' ' + value + ' %';
            }
          }
        },
      }
    };

    var ctx = document.getElementById('paisorigen').getContext('2d');
    var miGrafica = new Chart(ctx, {
      type: 'doughnut',
      data: datos,
      options: opciones
    });
  </script>

  <script>
    // JavaScript para grafica de pais de destino

    var destinousa = parseInt(document.getElementById('destinousa').innerText);
    var destinomex = parseInt(document.getElementById('destinomex').innerText);
    var destinocan = parseInt(document.getElementById('destinocan').innerText);
    var destinonsnr = parseInt(document.getElementById('destinonsnr').innerText);
    var destinootros = parseInt(document.getElementById('destinootros').innerText);


    var datos = {
      labels: ['Estados Unidos', 'México', 'Canada', 'Otros', 'NS/NR'],
      datasets: [{
        data: [destinousa, destinomex, destinocan, destinootros, destinonsnr],
        backgroundColor: ['#84B8DC', '#2A8BCF', '#0569B0', '#034675', '#023F6A'],
      }]
    };

    var opciones = {
      scales: {
        xAxes: [{
            gridLines: {
              display: false
            }
        }],
        yAxes: [{
            gridLines: {
              display: false
            }
        }]
      },
      plugins: {
        legend: {
          display: true,
          position: 'right'
        },
        title: {
          display: true,
          text: 'País de destino',
          color: '#46495F',
          font: {
            size: 20
          }
        },
        tooltip: {
          callbacks: {
            label: function (context) {
              var value = context.raw;
              return ' ' + value + ' %';
            }
          }
        },
      }
    };

    var ctx = document.getElementById('paisdestino').getContext('2d');
    var miGrafica = new Chart(ctx, {
      type: 'doughnut',
      data: datos,
      options: opciones
    });
  </script>

{% endblock %}